// Specific CSS for your home-page

* {
  border: 1px solid red;
}

.headings {
  margin: 30px 0 30px 0;
  text-align: center;
}

.headings h1{
  margin: 20px;
}

.headings p{
  margin: 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card-category {
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  border-radius: 10px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
}
