<div class="footer-container">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/barrosgiovanni/my_car_today" target="_blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      MY <i class="fas fa-car"></i> TODAY
    </div>
  </div>
</div>
