<div class="container">
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1588073/pexels-photo-1588073.jpeg);">
    <div class="container">
      <h1>Check, Choose, Rent</h1>
      <p>My Car Today brings the easiest way to rent a car near you</p>
      <%= link_to "Book a Car",  cars_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

<div class="features">
  <h1>How My Car Today works?</h1>
</div>

<div class="container">
<div class="card" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/2211/2211425.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Easy to Rent</h5>
        <p class="card-text">With My Car Today, you can rent a car in your neighborhood without needing to go to a car rental agency.</p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/1611/1611179.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Share the car you own and make money</h5>
        <p class="card-text">My Car Today also offers the Listing option, which you can list your car and make extra money!</p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3130/3130472.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Start your small business</h5>
        <p class="card-text">With My Car Today, you can list more than one car, which means you can have your own fleet and make a profit through it.</p>
      </div>
    </div>
  </div>
</div>
