<div class="container">
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1588073/pexels-photo-1588073.jpeg);">
    <div class="container">
      <h1>Check, Choose, Rent</h1>
      <p>My Car Today brings the easiest way to rent a car near you</p>
      <%= link_to "Start Now",  cars_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="url(https://cdn-icons-png.flaticon.com/512/2211/2211425.png)">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
