<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1588073/pexels-photo-1588073.jpeg);">
  <div class="container">
    <h1>Check, Choose, Rent</h1>
    <p>My Car Today brings the easiest way to rent a car near you</p>
    <%= link_to "Start Now",  cars_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
