.footer-container {
  margin: 60px 0 30px 0;
  display: flex;
  justify-content: center;
}

.footer {
}

.fab {
  font-size: 40px;
  color: black;
}

.footer-links {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.footer-copyright {
  font-size: larger;
  margin: 10px 0 10px 0;
}
