.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  border-color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
