.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  border-color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-menu {
  margin-right: 20px;
  font-weight: bold;
}

.nav-login-btn {
  margin-right: 20px;
  font-weight: bold;
}

.nav-home-btn {
  margin-right: 20px;
  font-weight: bold;
}
