<div class="headings">
  <h1>Which car do you want to be yours today?</h1>
  <p>Choose between one of the many options!</p>
</div>

<div class="cards-container">

  <div class="cards">

    <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

        <div class="card" style="width: 18rem;">
      <img src="https://img.freepik.com/psd-gratuitas/carro-em-miniatura-sedan_53876-84522.jpg?w=996&t=st=1669144574~exp=1669145174~hmac=4a38f31a8ea9ddccae6287aca5a0b90cddae9420baed84c12a99f0306f9b2fa5" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Ford Fiesta</p>
        <p>2012</p>
        <p>Hatch</p>
        <p>$200 per day</p>
      </div>
    </div>

  </div>

</div>
