<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/736x/e9/fc/43/e9fc43d07157d2dcfb6cb7eddc0e55f1.jpg);">
  <div class="container">
    <h1></h1>
    <p></p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>
<div class="card-show">
  <div class="card-show-infos">
    <div>
      <h2>brand</h2>
      <p>model   category   model   year  color</p>

    </div>
    <h2 class="card-show-pricing">£99.99</h2>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
